
.map__image path {
fill : #9aced3;
stroke: #ffffff;
stroke-width: 1px;
transition:fill 0.3s;
}

.map__image path:hover {
    fill : #ff5722  ;
    stroke: #ffffff;
    stroke-width: 2px;
    
}

.map {
    background-color: #fff;
}

a {
    font-size : 17px;
}
@media screen and (max-width: 500) {
    a {
        font-size : 10px;
    }
  }